{% assign item  = include.item | default: page %}
{% assign collection  = include.collection | default: item.collection %}
{% assign dictionary  = site.data.collections[collection].dictionary %}
{% assign metadata    = include.item.metadata %}

<dl class='metadata-block'>
  {% unless dictionary.label.hide %}
  <dt>{{ dictionary.label.label | default: 'Label' }}</dt>
  <dd>{{ item.label }}</dd>
  {% endunless %}

  {% for meta in metadata %}
    {% assign key   = meta[0] %}
    {% assign value = meta[1] %}
    {% assign label = dictionary[key].label | default: meta[0] %}
    {% unless value.size < 1 or dictionary[key].hide %}
      <dt>{{ label }}</dt>
      {% if value.first %}
        <dd>{{ value | join: ', ' }}</dd>
      {% else %}
        {% if value contains 'http' %}
        <dd><a href="{{ value }}">{{ value }}</a></dd>
        {% else %}
        <dd>{{ value }}</dd>
        {% endif %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% unless item.iiif_manifest.size < 1 or dictionary.iiif_manifest.hide %}
    <dt>{{ dictionary.iiif_manifest.label | default: 'IIIF Manifest' }}</dt>
    <dd><a href="{{ item.iiif_manifest | absolute_url }}">{{ item.iiif_manifest | absolute_url }}</a></dd>
  {% endunless %}
</dl>
