---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<h3 alt="{{ page.label | escape }}" class='item-label'>{{ page.label }}</h3>
  <div class='item-view'>
    <span class='pagination-link' id='prevlink'></span>
    {% if page.iiif_manifest.size > 0 %}
      {% include osd_iiif_image_viewer.html manifest=page.iiif_manifest %}
    {% elsif page.full_image.size > 0 %}
      {% include simple_image_viewer.html full_image=page.full_image derivatives=page.derivatives.simple %}
    {% endif %}
    <span class='pagination-link' id='nextlink'></span>
  </div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% include item_metadata.html item=page %}

